html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

circle {
  r: 24px;
  fill: orange;
}

text {
  dominant-baseline: middle;
  text-anchor: middle;
}

line {
  stroke: black;
  stroke-width: 3px;
}
